.form_wrapper {
  text-align: center;
  background-color: $content;
  padding-bottom: 2em;
  border-left: 2px solid $navbar;
  border-right: 2px solid $navbar;
  border-bottom: 4px solid $navbar;

  p {
    text-align: left;
  }
}

.wkshp_form {
  background-color: $lightMustard;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;

  fieldset {
    background-color: $lightMustard;
    border: 3px solid $brown;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 10px solid $brown;
    margin: 0 auto 1em auto;
    font-size: 1.5em;
  
    p {
      text-align: left;
      margin-left: 2em;
    }
  }

  fieldset:hover,
  .submit:hover {
    background-color: $pink;
  }
  
  div {
    padding-bottom: 1em;
  }

  input[type="tel"],
  input[type="email"],
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 0.25em 0.25em 0.25em 2em;
    border-style: solid;
    border-color: $pink;
    //font-size: 1.5em;
    color: $mustard;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset;  
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset;  
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset;
    transition: border 0.515s linear 0s, box-shadow 0.515s linear 0s, color 0.515s linear 0s;  
    -webkit-transition: border 0.515s linear 0s, box-shadow 0.515s linear 0s, color 0.515s linear 0s;  
    -moz-transition: border 0.515s linear 0s, box-shadow 0.515s linear 0s, color 0.515s linear 0s;  
    -o-transition: border 0.515s linear 0s, box-shadow 0.515s linear 0s, color 0.515s linear 0s;  
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  select:focus
   {   
      color: $teal;  
      border-color: rgba(41, 92, 161, 0.4);
      border-color: $mustard;    
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9) , 0 0 8px rgba(41, 92, 161, 0.6);  
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9) , 0 0 8px rgba(41, 92, 161, 0.6);  
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9) , 0 0 8px rgba(41, 92, 161, 0.6);  
      outline: 0 none;   
  }  

  input#name {
    background: #fff url('../images/name.png') 5px 4px no-repeat;
  }

  #gender {
    background: #fff url('../images/gender.png') 5px 4px no-repeat;
  }

  input#age {
    background: #fff url('../images/cake.png') 5px 4px no-repeat;
  }

  input#tel {
    background: #fff url('../images/tel.png') 5px 4px no-repeat;
  }

  input#email {
    background: #fff url('../images/email.png') 5px 4px no-repeat;
  }

  #message {
    background: #fff url('../images/note.png') 5px 4px no-repeat;
  }

  #tickets {
    background: #fff url('../images/doppel.png') 5px 4px no-repeat;
  }

  #health {
    background: #fff url('../images/health.png') 5px 4px no-repeat;
  }

  #meds {
    background: #fff url('../images/meds.png') 5px 4px no-repeat;
  }

  #quals {
    background: #fff url('../images/quals.png') 5px 4px no-repeat;
  }

  #workshop {
    background: #fff url('../images/massage.png') 5px 4px no-repeat;
  }

  span.question {
    text-align: left;
    float: left;
    width: 75%;
    clear: both;
    margin-left: 0.75em;
    margin-bottom: 0.5em;
  }

  input[type='checkbox'] {
    //content     : '✓';
    height: 1.5em;
    width: 1.5em;
    float: right;
    margin-right: 0.5em;
  }

  input[type='checkbox']:hover {
    cursor: pointer;
  }


  input[type='button'] {
    width: auto;
    border: 3px solid $mustard;
    background-color: $lightMustard;
    color: $teal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  input[type='button']:hover {
    background-color: $mustard;
  }
}

form label.error, label.error {
  color: $brown;
  font-style: italic;
  display: block;
  padding-top: 0.1em;
}


div.error { 
  display: none; 
}


#health,
#meds,
#quals,
#workshop {
    display: none;
}