// general colours
$pink: #E0B396;
$brown: #731C25;
$green: #4C6425;
$teal: #016AA7;
$powder: #C1E5F6;
$mustard_old: #D5A30B;
$mustard: #BD900A;
$lightMustard: rgba($mustard,0.4);  // #E4D19C
$lightBrown: rgba($brown,0.9);
$lightPink: rgba($pink,0.4);

// layout colours
$bgcolor: black;  		// body background
$navbar: $mustard;		// inactive nav bar
$navactive: white;		// active nav link
$navhover: $brown;		// tab on hover
$content: white;		// inside tab color
$tablehead: $brown;		// color of table furniture
$tableHeadText: white;	// text color table head
$tablebg: white;		// table background
$activeacc: $mustard;	// active accordion!
$acc: $lightMustard;	// unactive accordion
$acchover: $brown;		// accordion hover
$accText: $brown;		// accordion text
$accTextHover: white;	// accordion text on hover
$footer: $mustard;		// guess what
$imgBorder: $brown;		// thin border around images

// typography
$navtext: blue;		// navigation text
$navactive: black;		// active tab text color
$contenttext: black;	// content text color

